html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(130, 148, 196);
    display: flex;
    flex-direction: column;
}

header {
    flex: auto;
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.container-row {
    display: flex;
    justify-content: center;
    align-items: stretch;
    border-radius: 15px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgb(172, 177, 214);
}

.container-row > div {
    flex: 1;
    display: flex;
}

.container-column {
    flex: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    border-radius: 15px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgb(219, 223, 234);
}

.column {
    flex: auto;
    flex-direction: column;
    border-radius: 15px;
    padding: 10px;
    background-color: rgb(255, 234, 210);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    margin: 10px;
}

.row {
    flex: auto;
    flex-direction: row;
    border-radius: 15px;
    padding: 10px;
    background-color: rgb(255, 234, 210);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    margin: 10px;
}

img {
    display: flex;
    flex:auto;
    max-width: 30%;
    float: left;
    margin-bottom: 10px;
}

p {
    text-align: justify;
}

h3 {
    font-size: 16px;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    height: 30px;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="tel"],
select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    height: 40px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
}

input[type="range"] {
    width: 100%;
}

form {
    flex: 1;
    padding: 15px;
    flex-direction: column;
}

fieldset {
    display: flex;
    flex: auto;
    margin-top: 20px;
    border-radius: 15px;
}

textarea {
    display: flex;
    flex: auto;
    padding: 10px;
    border: 1px solid #ccc;
    max-width: 100%;
    border-radius: 4px;
    font-size: 14px;
    height: 200px;
    max-height: 400px;
    width: 300px;
    max-width: 450px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    flex-shrink: 0;
    position: relative;
}